{% extends "main/layout/annonces.html" %}

{% load static %}

{% block title %} | Animaux perdus{% endblock %}

{% block h1 %}
    <h1>Animaux perdus</h1>
{% endblock %}

{% block formtag %}
    <form id="filtres-resultats" method="post" action="{% url 'lost' %}">
{% endblock %}


{% block h2 %}
    {% if position %}
        <h2>{{ espece }}s perdus à {{ position }}</h2>
    {% else %}
        <h2>Dernières annonces publiées</h2>
    {% endif %}
{% endblock %}

{% block section_annonces %}
        <section>
            {% if animaux %}
                {% for animal in animaux %}
                    <ul>
                        <li>{{ animal.name }}</li>
                        <li>{{ animal.specie }}</li>
                        <li>{{ animal.location }}</li>
                        <li>{{ animal.date }}</li>
                        <img src="{{ animal.photo.url }}" alt="">
                    </ul>
                {% endfor %}
            {% else %}
                <p>Pas d'annonces</p>
            {% endif %}

        </section>
{% endblock %}


<!-- class Animal(models.Model):
#     name = models.CharField(max_length=64, blank=True)
#     isLost = models.BooleanField(default=True)
#     specie = models.CharField(max_length=64)
#     location = models.CharField(max_length=64)
#     photo = models.ImageField(upload_to='animal_photos/', blank=True)
#     date = models.DateTimeField(auto_now=True) -->