{% extends "main/layout/base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/map.css' %}">
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="" defer></script>
    <script src="{% static 'main/js/form.js' %}" defer></script>
    <script src="{% static 'main/js/map.js' %}" defer></script>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}

    {% block h1 %}
    {% endblock %}

        {% block form %}
        {% endblock %}

            <!-- Champs cachés -->
            {% csrf_token %}
            <input type="hidden" id="code" name="code">

            <fieldset id="filtre">
                <legend>Filtrer les résultats</legend>
                
                <div class="input-wrapper">
                    <input id="position" name="position" type="text" placeholder="Choisir la localisation" autocomplete="off" required>
                    <div class="position__menu">
                        <ul>
                            <li class="menu__choix" id="find-me">Utiliser ma position</li>
                        </ul>
                    </div>
                </div>
                

                <div class="input-wrapper">
                    <input id="espece" name="espece" type="text" placeholder="Choisir l'espèce" autocomplete="off" required>
                    <div class="espece__menu espece">
                        <ul>
                            
                        </ul>
                    </div>
                </div>
    
                <button type="submit">Rechercher</button>

            </fieldset>
            
        </form>


        {% block section_annonces %}
        {% endblock %}

        {% block section_carte %}
        {% endblock %}


        
  
{% endblock %}