{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        PetRescue{% block title %}{% endblock %}
    </title>
    <!-- <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}"> -->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block link %}
    {% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="{% static 'main/js/client.js' %}" defer></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>

    {% if request.user.is_authenticated %}
    <a href="{% url 'profil_utilisateur' request.user.username %}">Accueil</a>
    {% else %}
    <a href="{% url 'accueil' %}">Accueil</a>
    {% endif %}
    
    {% block body %}
    {% endblock %}   

    
    
</body>
</html>